.time{
    color: white;
    /* background-color: aqua; */
    font-size: clamp(0.7rem, 1.4vw, 0.9rem);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.time h2 {
    margin: 0;
    font-weight: 500;
}