/* about section styling */
.about {
    height: 100%;
    display: flex;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;

}

.about .title::after {
    display: flex;
}

.about .about-content .box {
    cursor: pointer;
    transition: all 0.3s ease;
    background: none;
}

.about .about-content .left {
    width: 45%;

}

.about .about-content .left img {
    display: flex;
    height: 25rem;
    object-fit: cover;
    border-radius: 10px 10px;
    transition: all 0.3s ease;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.about .about-content .left img:hover {
    transform: scale(1.05);
}

.about .about-content .right {
    display: block;
    height: 400px;
    width: 400px;
    /* align-items:center; */
    text-align: justify;
    color: #fff;
}

.about .about-content .right .sub-title {
    font-size: 25px;
    margin-bottom: 1rem;
}

.about .about-content .right p1,
p2,
p3,
p4 {
    font-size: 15px;
    margin-bottom: 1rem;
    display: flex;
}