/* services section styling */
.services {
    color: #fff;
    background: #111;
    height: 40rem;
}

.services .title::after {
    /* content: "what i provide"; */
    background: transparent;
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    /* background: crimson; */
    color: #00bfff;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
    color: #00bfff;
}

.services .serv-content .card i {
    font-size: 50px;
    color: #00bfff;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: crimson;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}